{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
      "indent": ["error", 2],
      "semi": ["error", "always"],
      "no-console": 1,
      "no-unused-vars":"warn"
  }
}